html {
  text-align: center;
  font-family: Helvetica;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

.header {
  background-color: gray;
  color: white;
}

.footer {
  color: white;
  font-size: 11px;
  background-color: dimgray;
}

#border {
  color: white;
  background-color: gray;
}
